#------python backend-------
RoffelBackendPOC/venv/
RoffelBackendPOC/__pycache__/
RoffelBackendPOC/*.pyc 

# sql database
RoffelBackendPOC/roffel_tool.db 

#-----NODE FRONTEND----------
roffel-portal/main-portal/node_modules/
roffel-portal/.env
roffel-portal/build/

#------OS TRASH--------
.DS_Store
Thumbs.db

#------ENV FILES-------
roffel-portal/main-portal/.env
roffel-portal/mobile-portal/.env
RoffelBackendPOC/.env

#-------MOBILE EXCLUSIONS-------
roffel-portal/mobile-portal/node_modules